h1.intro mustache in CSS
.box
  .mustache

blockquote.info
  | inspired from <a href="https://img.w3ctech.com/slide/cssicon-wentin.pdf">CSS的隐藏绘画功能和交互动画技巧</a> by <a href="https://twitter.com/DesignJokes">Wenting Zhang, @DesignJokes</a>
